<nav class="navbar">
  <div class="navbar__inner container">
    <a class="navbar__logo" routerLink="/"><img src="assets/images/logo.png" alt="logo" /></a>
    <div class="navbar__right">
      <div class="navbar__time">
        <span class="material-symbols-outlined">
          schedule
        </span>
        {{formatedTime()}}
      </div>
      <a routerLink="/login" class="navbar__user">
        <span class="material-symbols-outlined">
          account_circle
        </span>
        {{user()?.role || 'Login'}}
      </a>

    </div>
  </div>
</nav>
