@import "src/scss/variables.scss";
.navbar {
  background-color: $secondary;
  border-bottom: 4px solid $primary;
  font-weight: bold;
}

.navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacer;
}

.navbar__logo {
  display: block;
  width: 200px;
  img {
    width: 100%;
  }
}

.navbar__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacer-triple;
  align-items: center;
}

.navbar__time,
.navbar__user {
  display: flex;
  align-items: center;
  span {
    margin-right: $spacer-half;
  }
}

.navbar__user {
  transition: $transition;
  color: inherit;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: darken($primary, 10%);
  }
}
